{% extends "base.html" %}

{% block extra_css %}
<style>
button {
width:75px;
height:75px;
}

.btn-gradient-flat {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(#6795fd 0%, #67ceff 100%);
  transition: .4s;
  width: 150px;
  font-size: 1.5em;
}

.btn-gradient-flat:hover {
  background-image: linear-gradient(#6795fd 0%, #67ceff 70%);
}


</style>
{% endblock %}

{% block title %}AI五目並べ{% endblock title %}


{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">AI五目並べ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container" style="padding:30px 0 0 0">
    <div class="jumbotron bg-white">
        <h1>AI五目並べ</h1>
        <h3>Deep Q-NetworkによるCPU</h3>
        <p>  AIと五目並べで勝負。AIは毎日成長中</p>
        <center><h3>現在までの対戦数 : {{ play_num }}</h3></center>

    </div>
    <div id="block">
        <center>
            <table>
                <form action="" method="POST">
                    {% csrf_token %}
                    <tr>
                        <td><button type="submit" name="b0">{{ b0 }}</button></td>
                        <td><button type="submit" name="b1">{{ b1 }}</button></td>
                        <td><button type="submit" name="b2">{{ b2 }}</button></td>
                        <td><button type="submit" name="b3">{{ b3 }}</button></td>
                        <td><button type="submit" name="b4">{{ b4 }}</button></td>
                    </tr><tr>
                        <td><button type="submit" name="b5">{{ b5 }}</button></td>
                        <td><button type="submit" name="b6">{{ b6 }}</button></td>
                        <td><button type="submit" name="b7">{{ b7 }}</button></td>
                        <td><button type="submit" name="b8">{{ b8 }}</button></td>
                        <td><button type="submit" name="b9">{{ b9 }}</button></td>
                    </tr><tr>
                        <td><button type="submit" name="b10">{{ b10 }}</button></td>
                        <td><button type="submit" name="b11">{{ b11 }}</button></td>
                        <td><button type="submit" name="b12">{{ b12 }}</button></td>
                        <td><button type="submit" name="b13">{{ b13 }}</button></td>
                        <td><button type="submit" name="b14">{{ b14 }}</button></td>
                    </tr><tr>
                        <td><button type="submit" name="b15">{{ b15 }}</button></td>
                        <td><button type="submit" name="b16">{{ b16 }}</button></td>
                        <td><button type="submit" name="b17">{{ b17 }}</button></td>
                        <td><button type="submit" name="b18">{{ b18 }}</button></td>
                        <td><button type="submit" name="b19">{{ b19 }}</button></td>
                    </tr><tr>
                        <td><button type="submit" name="b20">{{ b20 }}</button></td>
                        <td><button type="submit" name="b21">{{ b21 }}</button></td>
                        <td><button type="submit" name="b22">{{ b22 }}</button></td>
                        <td><button type="submit" name="b23">{{ b23 }}</button></td>
                        <td><button type="submit" name="b24">{{ b24 }}</button></td>
                    </tr>
            </table>
            <br>
            {% if result %}
            {{ result }}
            {% else %}
            <button type="submit" name="clear" class="btn-gradient-flat">Clear</button>
            {% endif %}
            </form>
        </center>
    </div>
    <p id="result" class="ready"></p>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
