{% extends "base.html" %}

{% block extra_css %}
<style>
button {
width:50px;
height:50px;
}

button.clear {
width:1000px;
height:100px;
</style>
{% endblock %}

{% block title %}AI五目並べ{% endblock title %}


{% block content %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">AI五目並べ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div class="container" style="padding:60px 0 0 0">
    <div class="jumbotron bg-white">
        <h1>AI五目並べ</h1>
        <h3>Deep Q-NetworkによるCPU</h3>
        <p>  AIと五目並べで勝負。AIは毎日成長中</p>
    </div>
<div id="block">
    <center>
        <h2>{{ result }}</h2><br><br>
        <table>
            <tr>
                <form action="" method="POST">
                    {% csrf_token %}
                    <td><button type="submit" name="b0">{{ b0 }}</button></td>
                    <td><button type="submit" name="b1">{{ b1 }}</button></td>
                    <td><button type="submit" name="b2">{{ b2 }}</button></td>
            </tr><tr>
                    <td><button type="submit" name="b3">{{ b3 }}</button></td>
                    <td><button type="submit" name="b4">{{ b4 }}</button></td>
                    <td><button type="submit" name="b5">{{ b5 }}</button></td>
            </tr>
                    <td><button type="submit" name="b6">{{ b6 }}</button></td>
                    <td><button type="submit" name="b7">{{ b7 }}</button></td>
                    <td><button type="submit" name="b8">{{ b8 }}</button></td>
            </tr>
        </table>
        <button type="submit" name="clear">Clear</button>
        </form>
    </center>
</div>
<p id="result" class="ready"></p>
</div>

{% endblock %}

{% block extra_js %}
{% endblock %}
